.slider-handle {
  background-color: #7be037 !important;
}

.grid-margin-x>.small-10 {
  margin-bottom: calc(1% - 1.875rem) !important;
}

.grid-margin-x>.small-2 {
  margin-bottom: calc(1% - 1.875rem) !important;
}

.grid-margin-x>.small-10 {
  margin-bottom: calc(1% - 1.875rem) !important;
}

.grid-margin-x>.small-2 {
  margin-bottom: calc(1% - 2rem) !important;
}

.slider {
  position: relative;
  height: .25rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1.25rem !important;
}

input {
  height: 2rem !important;
  margin: 0 0 0.25rem !important;
}

@media screen and (max-width: 1105px) {
  input {
    visibility: hidden;
  }
}